@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #E3F2FD;
    color: #FFF;
    font-family: "Poppins", serif;
}

header h2 {
    font-size: 1.6rem;
}

header .column {
    display: flex;
    align-items: center;

    & span {
        font-weight: 500;
        margin-right: 15px;
        font-size: 1.2rem;
    }
}

.container {
    width: 780px;
    padding: 35px 40px;
    background-color: #000;
    border-radius: 30px;

    & header {
        color: #B2B2B2;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.volume-slider input {
    accent-color: #FFFFFF;
}

.keys-check input{
    width: 60px;
    height: 30px;
    appearance: none;
    border-radius: 30px;
    background-color: #4B4B4B;
    cursor: pointer;
    position: relative;
}

.keys-check input::before {
    height: 20px;
    width: 20px;
    content: "";
    background-color: #8C8C8C;
    position: absolute;
    border-radius: inherit;
    top: 50%;
    left: 0.3rem;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.keys-check input:checked:before {
    left: 2.1rem;
    background-color: #FFF;
}

.piano-keys {
    display: flex;
    margin-top: 40px;

    & span {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
        font-size: 1.13rem;
    }

    & .key {
        cursor: pointer;
        list-style: none;
        color: #A2A2A2;
        user-select: none;
        position: relative;
        text-transform: uppercase;

        &.hide span{
            display: none;
        }
    }

    & .white {
        width: 70px;
        height: 230px;
        background: linear-gradient(#FFF 96%, #EEE 4%);
        border: 1px solid #000;
        border-radius: 8px;

        &.active {
            box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
            background: linear-gradient(to bottom #FFF 0%, #EEE 100%);
        }
    }

    & .black {
        width: 44px;
        height: 140px;
        background: linear-gradient(#222 , #000);
        border-radius: 0 0 5px 5px;
        z-index: 2;
        margin: 0 -22px 0 -22px;

        &.active {
            box-shadow: inset -5px 5px 20px rgba(255, 255, 255, 0.2);
            background: linear-gradient(to bottom #000, #434343);
        }
    }
}